[user]
  name = tell-k
  email = ffk2005@gmail.com

[color]
  ui = auto
  status = auto
  diff = auto
  branch = auto
  interactive = auto

[alias]
  co = checkout
  ci = commit -a
  st = status
  up = pull --rebase
  re = push origin master
  cl = !sh ~/.dotfiles_private/git_clone.sh
  glog = log --graph --decorate --oneline
  # http://qiita.com/naoty_k/items/3fcd60e063f26e90321d
  gg = grep -C 3 -n -H --heading --break
  # http://qiita.com/geta6/items/63465f38aa064bce1a9c
  today = "!sh -c 'git log --reverse --no-merges --branches=* --date=local --since=midnight --oneline --author=\"`git config --get user.name`\"'"

#[diff]
  #external = colordiff

[core]
  pager = less
  editor = /usr/local/bin/vim

[grep]
  lineNumber = true

[filter "hawser"]
  clean = git hawser clean %f
  smudge = git hawser smudge %f
  required = true

[ghq]
  root = /Users/tell_k/Work/ghq
